<a href="https://colab.research.google.com/github/Mat3eo56/ProyectoFinalProgramacion/blob/main/Datos_Alcoholimetro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

encuestados = pd.read_csv( "https://raw.githubusercontent.com/Mat3eo56/ProyectoFinalProgramacion/main/Sujetos%20PruebaComa.csv", index_col=0)

encuestados.iloc[:]

,¿Cuántas veces usted toma a la semana?,¿El alcohol a Afectado su salud?,¿Cuánto dinero se gasta por salida?,Prueba 1,Prueba 2
Nombre,,,,,
Juan Andres Veru Sarmiento,2,No,50000,60,40
Juan Guillermo Quiroga Valencia,4,No,200000,110,70
Daniel Esteban Peña Guzman,2,No,100000,41,30

In [8]:
encuestados.columns= ['n_semanas','salud','c_dinero','prueba1', 'prueba2']
encuestados.iloc[:]

                                 n_semanas salud  c_dinero  prueba1  prueba2
Nombre
Juan Andres Veru Sarmiento               2    No     50000       60       40
Juan Guillermo Quiroga Valencia          4    No    200000      110       70
Daniel Esteban Peña Guzman               2    No    100000       41       30

In [9]:
promedio = encuestados.n_semanas.mean()
print(f"Promedio:{promedio}")

total_sem = sum(encuestados.n_semanas) 
porcentaje_Andres= ((encuestados.iloc[0].n_semanas)/total_sem)
porcentaje_Guillermo= ((encuestados.iloc[1].n_semanas)/total_sem)
porcentaje_Daniel= ((encuestados.iloc[2].n_semanas)/total_sem)


print(f"Porcentaje Andres: {porcentaje_Andres*100}")
print(f"Porcentaje Guillermo: {porcentaje_Guillermo*100}")
print(f"Porcentaje Daniel: {porcentaje_Daniel*100}")

Promedio:2.6666666666666665
Porcentaje Andres: 25.0
Porcentaje Guillermo: 50.0
Porcentaje Daniel: 25.0

In [10]:
dinero_s_Andres = (encuestados.iloc[0].c_dinero)*(encuestados.iloc[0].n_semanas)
dinero_s_Guillermo= (encuestados.iloc[1].c_dinero)*(encuestados.iloc[1].n_semanas)
dinero_s_Daniel = (encuestados.iloc[2].c_dinero)*(encuestados.iloc[2].n_semanas)

dinero_m_Andres = dinero_s_Andres*4
dinero_a_Andres = dinero_m_Andres*12

dinero_m_Guillermo = dinero_s_Guillermo*4
dinero_a_Guillermo = dinero_m_Guillermo*12

dinero_m_Daniel = dinero_s_Daniel*4
dinero_a_Daniel = dinero_m_Daniel*12
lista_anual= [dinero_a_Andres,dinero_a_Guillermo,dinero_a_Daniel]
encuestados["Dinero_Anual"] = lista_anual

print(encuestados.iloc[:])
print("")

def dinero_anual_gastado():
  for i in lista_anual:
    if i > 6_500_000:
      print(f"Con el dinero gastado, se puedo haber pagado un semestre en la Universidad EAN, No siga gastando dinero en alcohol")
    else:
      print(f"No siga gastando dinero en alcohol")

print(dinero_anual_gastado())

                                 n_semanas salud  c_dinero  prueba1  prueba2  \
Nombre
Juan Andres Veru Sarmiento               2    No     50000       60       40
Juan Guillermo Quiroga Valencia          4    No    200000      110       70
Daniel Esteban Peña Guzman               2    No    100000       41       30

                                 Dinero_Anual
Nombre
Juan Andres Veru Sarmiento            4800000
Juan Guillermo Quiroga Valencia      38400000
Daniel Esteban Peña Guzman            9600000

No siga gastando dinero en alcohol
Con el dinero gastado, se puedo haber pagado un semestre en la Universidad EAN, No siga gastando dinero en alcohol
Con el dinero gastado, se puedo haber pagado un semestre en la Universidad EAN, No siga gastando dinero en alcohol
None

In [11]:
def grado_alcoholemia1():
  for i in list(encuestados.prueba1):
    if i >= 20 and i <= 39:
      print(f"Se ha tomado una cerveza ")
      print(f"Grado de alcohol 0")
    elif i >= 40 and i <= 99:
      print(f"Se ha tomado un par de cerveza ")
      print(f"Grado de alcohol 1")
    elif i >= 100 and i <= 149:
      print(f"Se ha tomado 4 cerveza ")
      print(f"Grado de alcohol 2.Su salud correrá peligro en un par de años")
    
    else:
      print(f"Se ha tomado mas de 8 de cerveza ")
      print(f"Grado de alcohol 3. Su salud corrre mucho péligro")
      

def grado_alcoholemia2():
  for i in list(encuestados.prueba2):
    if i >= 20 and i <= 39:
      print(f"Se ha tomado una cerveza ")
      print(f"Grado de alcohol 0")
    elif i >= 40 and i <= 99:
      print(f"Se ha tomado un par de cerveza ")
      print(f"Grado de alcohol 1")
    elif i >= 100 and i <= 149:
      print(f"Se ha tomado 4 cerveza ")
      print(f"Grado de alcohol 2.Su salud correrá peligro en un par de años")
    else:
      print(f"Se ha tomado mas de 8 de cerveza ")
      print(f"Grado de alcohol 3. Su salud corrre mucho péligro")
      print(f"")

print(grado_alcoholemia1())
print(grado_alcoholemia2())

Se ha tomado un par de cerveza
Grado de alcohol 1
Se ha tomado 4 cerveza
Grado de alcohol 2.Su salud correrá peligro en un par de años
Se ha tomado un par de cerveza
Grado de alcohol 1
None
Se ha tomado un par de cerveza
Grado de alcohol 1
Se ha tomado un par de cerveza
Grado de alcohol 1
Se ha tomado una cerveza
Grado de alcohol 0
None